@charset "utf-8";

@font-face {
	font-family: 'vcr_osd_monoregular';
	src: url('../fonts/vcr_osd_mono_1.001-webfont.woff2') format('woff2'), url('../fonts/vcr_osd_mono_1.001-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

html {
	margin: 0;
	padding: 0;
}

body {
	border: 0 none;
	margin: 0;
	padding: 0;
	font-family: 'vcr_osd_monoregular';
	color: #626262;
	;
	font-size: 20px;
	line-height: 30px;
	background: #000;
}



img {
	width: 100%;
	display: block;
}

ul,
li,
ol {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a {
	color: #003082;
	text-decoration: none;
	transition: 0.3s;
}

.bg_section {
	float: left;
	width: 100%;
	background: #000;
}

.deopart-section {
	position: relative;
	margin: 0 auto;
}

.socialcions ul {
	display: flex;
	justify-content: flex-end;
}

.socialcions ul li {
	margin-right: 50px;
}

.coinimag {
	position: absolute;
	top: 60%;
	left: 30%;
}

.mint-box {
	position: absolute;
	left: 0;
	right: 0;
	top: 10%;
	text-align: center;
	z-index: 9;
	padding: 0 100px;
}

.logo img {
	max-width: 500px;
	margin-top: 50px;
}

.bxomm h1 {
	color: #434343;
	font-size: 36px;
	line-height: 30px;
	text-align: center;
}

.bxomm {
	text-align: left;
}

.bxomm {
	text-align: left;
	max-width: 621px;
	margin: 0 auto;
	padding: 150px 0;
}

.cccoinsom {
	background: url("../images/Scroll.png");
	float: left;
	width: 100%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.footer {
	position: absolute;
	bottom: 15px;
	left: 0;
	right: 0;
	text-align: center;
	font-size: 20px;
	color: #fff;
	line-height: 30px;
}

.footer p {
	margin-top: 0;
	margin-bottom: 0;
}

.bgimag {
	width: 100%;
}

.coinimag img {
	max-width: 50px;
}

.coinsimag img {
	max-width: 200px;
}

.modal.show .modal-dialog {
	-webkit-transform: none;
	transform: none;
	display: flex;
	align-items: center;
	height: 100%;
	max-width: 1100px;
}

.modal-content {
	text-align: center;
	background-color: transparent;
	border: none;
}

.modal-header {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: start;
	align-items: flex-start;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 1rem 1rem;
	border-bottom: none;
}

button.close {
	color: #fff;
	opacity: 1;
}

.modal {
	z-index: 9999;
}

.modal-backdrop.show {
	opacity: 0;
}

.tabelt,
.mobile {
	display: none;
}

.modal-body {
	padding: 1rem 0;
}

.mint-Arcade-machine {
	position: relative;
	width: 70%;
	margin-left: auto;
	z-index: 1;
}

.mint-Arcade-machine-gif {
	position: absolute;
	top: 35%;
	width: 75%;
	left: 50%;
	margin: 0 auto;
	transform: translate(-50%, -50%);
	z-index: -1;
}

.mint-connect-wallet-button img {
	width: 50%;
	margin-left: auto;
	margin-bottom: 10px;
	margin-right: 20px;
}

.mint-popup-box .mint-popup-close {
	position: absolute;
	right: 10px;
	width: 13%;
	height: 20%;
	display: block;
	z-index: 1;
}

a.mint-popup-transaction {
	position: absolute;
	right: 10px;
	width: 50%;
	height: 30%;
	display: block;
	top: 57%;
}

.min-release-box {
	width: 70%;
	margin-right: auto;
	position: relative;
	z-index: 0;
}


.mint-connect-wallet-bg {
	position: relative;
}

.mint-release-cox-box {
	position: absolute;
	top: 0;
	left: 0;
}

.mint-connect-wallet-bg {
	position: relative;
}

.mint-release-cox-box {
	position: absolute;
	top: 0;
	padding: 14% 12%;
	left: 0;
}


.mint-total-supply-img {
	width: 90px;
	margin-top: 8%;
}

.mint-total-supply-count {
	font-size: 24px;
	text-align: start;
	font-weight: 600;
	color: #7a2424;
}

.mint-short-des img {
	width: 100%;
}

.mint-release-question img {
	width: 90%;
	margin: 0 auto;
}

.mint-release-question-why {
	width: 45%;
	margin-left: auto;
}

.cox-circle-button {
	width: 30%;
}

.mint-release-content {
	position: absolute;
	left: 45%;
}

.mint-cox-release-button {
	width: 90%;
	margin: 0 auto;
}

.mint-progress-bar {
	width: 100%;
	border: 4px solid #294a60;
	border-radius: 10px;
	margin-top: 20px;
}

.mint-progress-bar-progress {
	width: 54%;
	height: 25px;
	background: #eb1657;
	border-radius: 5px;
}


.mint-popup {
	position: fixed;
	top: 50px;
	left: 50%;
	z-index: 25;
	transform: translateX(-50%);
}

.close-button {
	text-align: end;
	color: #000000;
	padding: 0 13px;
}

.mint-quantity {
	width: 60%;
}

.mint-quantity input[type=button],
.mint-quantity input[type=number] {
	background: #C35836;
	border: none;
	border-radius: 0px;
	color: #ffffff;
}

.mint-quantity input[type=number] {
	box-shadow: inset 1px 1px 2px 1px #993a1c;
}

.mint-quantity label {
	font-size: 15px;
	color: #D04D35;
	font-weight: 600;
}

.mint-quantity {
	width: 60%;
	margin-right: auto;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.cox-circle-button {
	width: 30%;
	height: 70px;
	display: flex;
	align-items: end;
}

.mint-popup {
	position: fixed;
	top: 50px;
	left: 50%;
	z-index: 25;
	transform: translateX(-50%);
}

.mint-popup-close {
	display: block;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 0;
	right: 15px;
}

.mint-popup-transaction {
	display: block;
	width: 218px;
	height: 60px;
	position: absolute;
	bottom: 32px;
	left: 50%;
	transform: translateX(-50%);
}

.mint-popup-box {
	position: relative;
}


.close-button {
	text-align: end;
	color: #000000;
	padding: 0 13px;
}

@media only screen and (max-width: 991px) {
	.coinimag img {
		max-width: 40px;
	}

	.footer {
		font-size: 10px;
		color: #fff;
		line-height: 16.5px;
	}

	.header img {
		max-width: 300px;
		margin-top: 10px;
	}

	.deopart-section {
		max-width: 100%;
		position: relative;
		min-width: 100%;
		margin: 0 auto;
		height: 100%;
	}
}

@media only screen and (max-width: 1024px) {
	.tabelt {
		display: block;
	}

	.videoWrapper.tabelt .video1 {
		width: 100%;
	}

	.desktop,
	.mobile {
		display: none;
	}
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
	.mint-connect-wallet-bg-img {
		height: 530px;
	}
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
	.mint-connect-wallet-bg-img {
		height: 440px;
	}
}

@media only screen and (max-width: 767px) {

	.videoWrapper video,
	.videoWrapper .canvas {
		width: 100%;
		height: 100vh;
		object-fit: cover;
		object-position: left;
	}

	.bg_section {
		height: 100vh;
	}

	.modal.show .modal-dialog {
		max-width: 100%;
	}

	.header {
		top: 5%;
		padding: 0 15px;
	}

	.socialcions ul {
		display: flex;
		justify-content: center;
	}

	.socialcions ul li {
		margin: 0 10px;
	}

	.logo img {
		margin-top: 10px;
	}

	.socialcions li img {
		max-width: 30px;
	}

	.coinsimag img {
		max-width: 100px;
	}

	.mobile {
		display: block;
	}

	.desktop,
	.tabelt {
		display: none;
	}

	.bxomm {
		text-align: left;
		max-width: 55%;
		margin: 0 auto;
		padding: 80px 0;
		font-size: 10px;
		line-height: 12px;
	}

	.bxomm h1 {

		font-size: 14px;
		line-height: 22px;

	}


}

@media(max-width:640px) {
	.mint-connect-wallet-bg-img {
		height: 420px;
	}
}

@media(max-width:580px) {
	.mint-release-content {
		position: unset;
	}

	.min-release-box,
	.mint-Arcade-machine {
		margin: 0 auto;
	}

	.videoWrapper video,
	.videoWrapper .canvas {
		height: 225vh;

	}
}

@media(max-width:570px) {
	img.mint-connect-wallet-bg-img {
		height: 570px;
	}

	.mint-connect-wallet-button img {
		width: 50%;
		margin: 0 auto;
		margin-bottom: 10px;
	}

	.videoWrapper video,
	.videoWrapper .canvas {
		height: 248vh;
	}

	.min-release-box,
	.mint-Arcade-machine {
		margin: 0 auto;
		margin-bottom: 5%;
	}
}

@media(max-width:500px) {
	img.mint-connect-wallet-bg-img {
		height: 530px;
	}

	.videoWrapper video,
	.videoWrapper .canvas {
		height: 225vh;
	}

	.mint-popup-box {
		height: 426px;
	}

	.mint-popup {
		width: 80%;
		margin: 0 auto;
	}
}

@media(max-width:480px) {
	.mint-box {
		top: 4%;
	}

	img.mint-connect-wallet-bg-img {
		height: auto;
	}

	.videoWrapper video,
	.videoWrapper .canvas {
		height: 131vh;

	}

	.mint-box {

		padding: 0 14%;
	}

	.mint-release-cox-box {
		padding: 8% 10%;
	}

	.mint-total-supply-count {
		font-size: 16px;
		margin-bottom: 0px !important;
	}

	.mint-short-des {
		margin-bottom: 10px !important;
	}

	.mint-release-question-why {
		margin-bottom: 7px !important;
	}

	.mint-connect-wallet-button img {
		width: 35%;
		margin-bottom: 5px;
		margin-top: 10px;
	}

	.mint-Arcade-machine {
		width: 50%;
	}

	.mint-progress-bar-progress {
		height: 14px;
	}

	.mint-progress-bar {
		margin-top: 5%;
	}

	.mint-release-question img {
		width: 71%;
	}

	.min-release-box,
	.mint-Arcade-machine {
		margin-bottom: 0%;
	}

}

@media(max-width:460px) {
	.mint-box {
		padding: 0 0%;
	}

	.videoWrapper video,
	.videoWrapper .canvas {
		height: 170vh;
	}

	img.mint-connect-wallet-bg-img {
		height: 425px;
	}
}

@media(max-width:428px) {

	.videoWrapper video,
	.videoWrapper .canvas {
		height: 140vh;
	}

	.mint-box {
		padding: 0 5%;
	}

	img.mint-connect-wallet-bg-img {
		height: 380px;
	}
}

@media(max-width:390px) {
	.mint-box {
		padding: 0 12%;
	}

	.videoWrapper video,
	.videoWrapper .canvas {
		height: 118vh;
	}

	img.mint-connect-wallet-bg-img {
		height: 330px;
	}
}

@media(max-width:375px) {
	img.mint-connect-wallet-bg-img {
		height: 310px;
	}

	.cox-circle-button {
		height: 48px;
	}
}

@media(max-width:340px) {
	.mint-box {
		padding: 0 6%;
	}

	img.mint-connect-wallet-bg-img {
		height: 310px;
	}

	img.mint-connect-wallet-bg-img {
		height: 318px;
	}
}

@media(max-width:320px) {
	.mint-box {
		padding: 0 6%;
	}
}

@media(max-width:300px) {
	.mint-box {
		padding: 0 3%;
	}
}

@media(max-width:280px) {
	.mint-box {
		padding: 0 0%;
	}
}

@media only screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
	.mint-box {
		padding: 0 4%;
	}

	img.mint-connect-wallet-bg-img {
		height: 335px;
	}
}

@media only screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 2) {
	.mint-box {
		padding: 0 4%;
	}

	img.mint-connect-wallet-bg-img {
		height: 335px;
	}
}

@media only screen and (device-width: 360px) and (device-height: 740px) and (-webkit-device-pixel-ratio: 3) {
	.mint-box {
		padding: 0 6%;
	}
}

@media only screen and (device-width: 360px) and (device-height: 740px) and (-webkit-device-pixel-ratio: 4) {
	.mint-box {
		padding: 0 6%;
	}

	img.mint-connect-wallet-bg-img {
		height: 330px;
	}

	.videoWrapper video,
	.videoWrapper .canvas {
		height: 99vh;
	}
}

@media only screen and (device-width: 360px) and (device-height: 740px) and (-webkit-device-pixel-ratio: 3) {
	.mint-box {
		padding: 0 6%;
	}

	img.mint-connect-wallet-bg-img {
		height: 330px;
	}

	.videoWrapper video,
	.videoWrapper .canvas {
		height: 99vh;
	}
}

@media only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
	.mint-box {
		padding: 0 0%;
	}

	img.mint-connect-wallet-bg-img {
		height: 360px;
	}
}

@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
	.mint-box {
		padding: 0 0%;
	}

	img.mint-connect-wallet-bg-img {
		height: 360px;
	}

	.videoWrapper video,
	.videoWrapper .canvas {
		height: 104vh;
	}
}

@media only screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) {
	.mint-box {
		padding: 0 0%;
	}

	img.mint-connect-wallet-bg-img {
		height: 362px;
	}

	.videoWrapper video,
	.videoWrapper .canvas {
		height: 103vh;
	}
}

@media only screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) {
	.mint-box {
		padding: 0 0%;
	}

	img.mint-connect-wallet-bg-img {
		height: 385px;
	}

	.videoWrapper video,
	.videoWrapper .canvas {
		height: 116vh;
	}
}

@media only screen and (device-width: 412px) and (device-height: 915px) and (-webkit-device-pixel-ratio: 3.5) {
	.mint-box {
		padding: 0 0%;
	}

	.videoWrapper video,
	.videoWrapper .canvas {
		height: 103vh;
	}

	img.mint-connect-wallet-bg-img {
		height: 388px;
	}
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.coinimag img {
		max-width: 8%;
	}
}

@media only screen and (min-width: 1025px) {
	.videoWrapper {
		position: relative;
		padding-bottom: 56.25%;
		/* 16:9 */
		height: 0;
	}

	.videoWrapper video,
	.videoWrapper canvas {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

@media only screen and (min-width: 1200px) and (max-width:1600px) {
	.bxomm {
		text-align: left;
		max-width: 500px;
		margin: 0 auto;
		padding: 120px 0;
		font-size: 16px;
		line-height: 23px;
	}

	.bxomm h1 {
		font-size: 26px;
	}

	.modal.show .modal-dialog {
		max-width: 900px;
	}

}

@media only screen and (min-width: 768px) and (max-width:1024px) {
	.modal.show .modal-dialog {
		max-width: 700px;
	}

	.bxomm {

		max-width: 400px;
		margin: 0 auto;
		padding: 120px 0;
		font-size: 16px;
		line-height: 20px;
	}

	.bxomm h1 {
		font-size: 26px;
	}


}

@media only screen and (min-width: 500px) and (max-width:1024px) {
	.mint-box {
		padding: 0px;
	}
}


@media only screen and (min-width: 1025px) and (max-width:1199px) {
	.modal.show .modal-dialog {
		max-width: 800px;
	}

	.bxomm {

		max-width: 450px;
		margin: 0 auto;
		padding: 120px 0;
		font-size: 18px;
		line-height: 22px;
	}

	.bxomm h1 {
		font-size: 28px;
	}
}